# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcuserstate

# SwiftPM
.build/
.swiftpm/xcode/package.xcworkspace/xcuserdata/

# CocoaPods
DetectorDemo/Pods/
DetectorDemo/CameraTest.xcworkspace/xcuserdata/
DetectorDemo/CameraTest.xcodeproj/xcuserdata/

